.Card{
    min-width:300px;
    width:30%;
    height:180px;
    background:#f1b35b;
    display: inline-block;
    margin-left:2.5%;
    margin-top:30px;
    border-radius:4px;
    text-align: center;
    color:#fff;
    transition: all 0.4s;
    &:hover{
        background:red!important;
        transform: scale(1.1);
        box-shadow: 10px 10px 5px #33333391;
        color:#333;
        .card_link a{
            color:#333;
        }
        .tips{
            color:#333;
        }
        svg{
            fill:#333;
        }
    }
    .card_link{
        margin-top:20px;
        height:80px;
        line-height: 80px;
        a{
            text-decoration: none;
            font-size:30px;
            font-weight: 700;
            color:#fff;
        }

    }
    .card_icon_box{
        height:40px;
        .tips{
            display: inline-block;
            height:100%;
        }
    }
}