.icon_logo{
    width:40px;
    height:40px;
}
.icon_key,.icon_user{
    width:15px;
    height:15px;
    fill:#fff;
    padding:5px;
}
.icon_out{
  width:15px;
  height:15px;
  fill:gray;
  padding:5px;
}
.icon_users,.icon_order,.icon_data_pip{
    width:18px;
    height:18px;
    fill:#fff;
    padding-left:5px;
    padding-right:5px;

    
}
.icon_product{
    width:17px;
    height:17px;
    fill:#fff;
    padding-left:5px;
    padding-right:5px;
    margin-top:-3px;   
}
