.slider{
    .el-menu.el-menu-vertical-demo{
        width:12rem;
    }
    .sliderName{
        text-align: center;
        font-size:14px;
        padding-bottom:14px;
        padding-top:14px;
        letter-spacing: 2px;
        border-bottom: 3px solid #535353;
        border-top: 3px solid #535353;
    }
    .el-submenu__title{
        background:#334156;
        color:#fff;
    }
    .backgroundColor{
        width:12rem;
        color:#fff;
        background:#334156;
    }
}
